/* CUSTOM PROPERTIES */
:root {
	--cyan: #00bcd4;
  --grey: #647076;
  --black: #000000;
  --white: #ffffff;
}

/* LAUNCH FRAME DEFAULT CUSTOM STYLES */

/* Enhance text rendering */
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Reset link styles */
a {
  color: inherit;
  text-decoration: none;
}

/* Remove default input styles */
input[type="text"], input[type="email"], textarea {
  -webkit-appearance: none; /* webkit browsers */
  -moz-appearance: none; /* firefox browser */
  appearance: none;
}

/* Custom Form Select */
  .form-input {
  	-moz-appearance: none;
  	-webkit-appearance: none;
  	appearance: none;
  	border: none;
    background-position-x: calc(100% - 8px);
  }

/* Custom form accent color */
input {
	accent-color: var(--cyan);
}

/* Display ... after 2 lines of text */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}    

/* Prevent click and hover interactions on overlays */
.overlay { pointer-events: none; }

/* Style Webflow default slider dots */
.w-slider-dot {
  width: 10px;
  height: 10px;
  background-color: rgba(0,0,0,.2);
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
}

.w-slider-dot.w-active {
  background-color: rgba(0,188,212,1);
}  

/* Get rid of top margin on the first and last elements insdie of Rich Text */  
.w-richtext>:first-child {
  margin-top: 0;
}

.w-richtext>:last-child, .w-richtext ol li:last-child, .w-richtext ul li:last-child {
  margin-bottom: 0;
}

/* Animated underscore link */  
@media only screen and (min-width: 992px) {  
  .animated-underscore:after {
      border-bottom: 2px solid var(--black);;
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      width: 0%;
      transition: width .6s cubic-bezier(0.22, 1, 0.36, 1); 
  }
  
  .animated-underscore:hover:after {
		width: 100%;
  }  
}

/* PROJECT-SPECIFIC CUSTOM STYLES */

/* 2 Col Component */
._2-column-image-wrapper.with-bg { aspect-ratio: 1/1; }

/* Slider Buttons */
.slider-button::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(193.79% 1530.63% at 5.27% 96.17%, #681FE3 0%, #F4027D 100%);
  transition: opacity 0.2s linear;
  z-index: -1;
  opacity: 1;
}
.slider-button:hover::before { opacity: 0; }

/* Fintech Section */ 
.fintech-image-wrapper { aspect-ratio: 3 / 2; }
@media (min-width: 768px) {
  .fintech-image-wrapper {
    aspect-ratio: 25 / 8;
  }
}

/* Gradient Buttons */
/*
.secondary-button {
  width: auto;
  height: auto;
  position: static;
  top: 50%;
  left: 50%;
  border: 2px solid transparent;
  border-color: #F4027D;
  border-image-slice: 1;
  border-radius: 10px;
}
.secondary-button:hover {
  width: auto;
  height: auto;
  position: static;
  top: 50%;
  left: 50%;
  border: 2px solid transparent;
  border-image: linear-gradient(0deg, #681FE3, #F4027D);
  border-image-slice: 1;
  border-radius: 10px;
  background-color: #081527;
  -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
}
.secondary-button:focus {
  width: auto;
  height: auto;
  position: static;
  top: 50%;
  left: 50%;
  border: 2px solid transparent;
  border-color: #F4027D;
  border-image-slice: 1;
  border-radius: 10px;
  background-color: #081527;
  -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
}
*/

/* Image Scroller */
.image-scroller-component {
	max-width: calc(45rem + 50vw);
}
.image-scroller-inner {
	overflow-x: scroll;
  overflow-y: auto;
}
@media (min-width: 90rem) {
	.image-scroller-component {
  	width: 100%;
    margin-left: auto;
   }
}
.image-scroller-inner::-webkit-scrollbar { height:2px; }
.image-scroller-inner::-webkit-scrollbar-track { background:rgb(51, 65, 85); }
.image-scroller-inner::-webkit-scrollbar-thumb { background:rgb(244, 2, 125); }