# This is a basic workflow to help you get started with Actions

name: Build a docs release

on:
  workflow_dispatch:
    inputs:
      docset_version:
        description: 'Docset version'
        required: true
        default: '0.0.1'
jobs:
  release-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install software
        run: |
          sudo apt-get install python3-sphinx
          sudo pip install furo==2022.4.7
          sudo pip install myst-parser==0.17.2
          sudo pip install sphinx-copybutton==0.5.0
          sudo pip install sphinx-design==0.1.0
          sudo pip install sphinx-inline-tabs==2022.1.2b11
          sudo pip install sphinxext-rediraffe==v0.2.7
      - name: Build docs
        run: |
          ls
          make clean html
      - name: Customize docs
        run: |
          cp -rf custom/* build
      - name: Package docs
        run: |
          cd build/html
          tar -czvf ~/iexcloud-docs.tgz *
      - name: Create release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create ${{ github.event.inputs.docset_version }} ~/iexcloud-docs.tgz --target "test-workflow"
